name: Issue Automation

on:
  issues:
    types: [opened]

permissions:
  contents: read
  issues: write

jobs:
  issue-automation:
    uses: ./.github/workflows/issue-event-processor-reusable.yml
    with:
      comment-enabled: true